/* API */

#loading_section {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
}

.hide {
    display: none !important;
}

#alert_content {
    color: #f00;
}

/*****************************************************************/