@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    /* display: grid; */
    /* place-items: center; */
    /* height: 100vh; */
}

/************************************************************************************/

.input-group {
    position: relative;
    margin-top: 35px;
    margin-bottom: 30px;
}

.input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font: inherit;
    color: rgb(0, 0, 0);
    background-color: transparent;
    outline: 2px solid rgb(0, 0, 0);
}

.input-label {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(10px, 10px);
    transform-origin: left;
    transition: transform .25s;
}

.input:focus~.input-label,
.input:valid~.input-label {
    transform: translate(0, -30px) scale(.8);
    color: #616161;
}

.input:is(:focus, :valid) {
    outline-color: #616161;
}

/************************************************************************************/

body {
    background-color: #fafafa;
}

main {
    margin-top: 50px;
}

.form-group {
    margin: 10px 0px;
}

.card {
    padding: 30px;

    margin: auto;
    float: none;
    /* margin-bottom: 10px; */
    max-width: 90%;
    width: 500px;

    border-radius: 20px;
    background: linear-gradient(145deg, #fafafa, #ebebeb);
    box-shadow: 20px 20px 60px #bebebe,
        -20px -20px 60px #ffffff;
}

/************************************************************************************/

/* Login btn */

.login_btn {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #18272F;
    position: relative;
    text-decoration: none;
}

.login_btn::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #18272F;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.login_btn:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

/************************************************************************************/

.addrem_btn {
    overflow: hidden;
    border-radius: 10px;
    background-color: #ffffff;
    border: none;
    color: rgb(61, 61, 61);
    text-align: center;
    padding: 5px;
    font-size: 19px;
    /* width: 90%; */
    cursor: pointer;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0, .7);
    /* border: 1px solid rgba(0, 0, 0); */
    position: relative;
    transition: all 0.4s;
    top: 0;
    text-align: center;
    width: 50px;
}

.gener_btn {
    overflow: hidden;
    border-radius: 10px;
    background-color: #ffffff;
    border: none;
    color: rgb(61, 61, 61);
    text-align: center;
    padding: 5px;
    font-size: 19px;
    /* width: 90%; */
    cursor: pointer;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0, .7);
    /* border: 1px solid rgba(0, 0, 0); */
    position: relative;
    transition: all 0.4s;
    top: 0;
    width: 100%;
}

/* button:hover {
    /* top: -10px; */
    transform: scale(0.85);
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 1);
} */

.m-auto {
    margin: auto;
}

.sc {
    width: max-content;
}

.mtb {
    margin: 20px auto;
}

.card {
    border: 1px solid #ccc;
}

.hr {
    height: 1px;
    width: 90%;
    background-color: rgb(161, 161, 161);
    margin: 20px auto;
}

h1 {
    color: rgb(51, 51, 51);
    font-weight: 200;
}

.txta {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
    background-color: #ffffff;
    border: none;
    color: rgb(61, 61, 61);
    padding: 5px;
    font-size: 19px;
    /* width: 90%; */
    cursor: pointer;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0, .7);
    /* border: 1px solid rgba(0, 0, 0); */
    position: relative;
    transition: all 0.0s;
    top: 0;
    resize: vertical;
}

input[type=text],input[type=password] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.block * {
    display: block !important;
    margin: 15px auto !important;
}

.center {
    text-align: center;
}

code {
    /* font-size: 87.5%; */
    color: #e83e8c;
    word-break: break-word;
    font-family: monospace;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: rgb(43, 127, 196);
}

.small {
    font-size: 13px;
}

div {
    max-width: 100%;
}

.hide {
    display: none;
}

/************************************************************************************/

/* The Modal (background) */
.modal {
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
    max-width: 95%;
}
.modal-content .title{
    padding: 20px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    top: -25px;
    left: 12px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/************************************************************************************/